<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.trungpt.videoplus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.GGApp.Main" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.YoutubeSearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.activity.UserDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_user_detail"
            android:theme="@style/Theme.NoActionBar.User" >
        </activity>
        <activity
            android:name=".ui.activity.PlayListDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_play_list_detail" >
        </activity>
        <activity
                android:name=".ui.activity.PlayListYoutubeDetailActivity"
                android:configChanges="orientation|screenSize|keyboardHidden"
                android:label="@string/title_activity_play_list_detail" >
        </activity>
        <activity
            android:name=".ui.activity.VideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_video_detail" >
        </activity>
        <activity
            android:name=".ui.activity.YoutubeVideoDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_youtube_video_detail"
            android:screenOrientation="nosensor" >
        </activity>
        <activity
            android:name=".ui.activity.VimeoVideoDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_detail"
            android:screenOrientation="nosensor"
            android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen" >>
            <intent-filter>
                <action android:name="com.google.android.exoplayer.demo.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="asset" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>

        <service
                android:name=".download.DownloadService"
                android:exported="false"/>
    </application>
</manifest>
